<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<h1 style="color: #F0F0F0; background: #237CBE;">Pragmatic Events</h1>
  	</header>
    <%= yield %>
    <footer style="background:#F0F0F0; color: #237CBE">
    	<p>
    		Copyright &copy; 2018 IA
    	</p>
    </footer>
  </body>
</html>
